body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2, h3, h4, h5, h6,p {
  margin: 0;}
a {
  text-decoration: none;
  color: currentColor
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
/*#region header*/

.header > .container {
  display: flex;
  
  
  /* justify-content: space-between; */
  align-items: center;
  
}
.header {
  border-bottom: 1px solid #E7E9FC;
}
.navy {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

}
.logo {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
}
.logo-dark {
  color: #2E2F42;
  letter-spacing: 0.03em;
}
.logo-light {
  color: #F4F4FD;
  letter-spacing: 0.03em;
}

.menu {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu:hover,
.menu:focus {
  color: #404bbf;
}
.menu:active {
  color: #404bbf;
}
.menu-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
  margin-left: 76px;
}

.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
  align-items: center;
}

.contacts{
  display: block;
  padding: 24px 0;
  color: #434455;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/*#endregion header*/

/*#region hero*/
.hero{
  display: flex;
  background-color: #2e2f42;
  padding-top: 188px;
padding-bottom: 188px;
  
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  width: 496px;
  /* padding-top: 188px; */
  padding-bottom: 48px;
  margin: 0 auto;
}
.hero-button {
  display: block;
  /* margin: 0 auto 188px auto; */
  margin: 0 auto;
 /* margin-bottom: 188px; */
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;


  box-shadow: 0px 4px 4px 0px #00000026;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus{
  background-color: #404bbf;
}
/*#endregion hero*/

/*#region features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features{
  
}
.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
.features-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-list {
  display: flex;
  justify-content: space-between;
  /* padding: 120px 0; */
  gap: 24px;
}
.features-caption {
  margin-bottom: 8px;
}
.features-item {
  width: 264px;
  /* margin-right: 24px; */
}
/*#endregion features*/

/*#region team*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  /* justify-content: space-between; */

}
.team-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
}
.team-wrapper {
 padding: 32px 16px;
}


.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  /* padding-top: 32px;
  padding-bottom: 8px; */
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  /* padding-bottom: 32px; */
}
/*#endregion team*/

/*#region portfolio*/
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
width: calc((100% - 48px) / 3);

}
.portfolio-title {
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
}
.portfolio-wrapper {
  border: 1px solid #E7E9FC;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 }
/*#endregion portfolio*/

/*#region footer*/
footer {
  background-color: #2E2F42;
}
footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-top: 16px;
}
/*#endregion footer*/
