body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2, h3, h4, h5, h6,p {
  margin: 0;}
a {
  text-decoration: none;
  color: currentColor
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 120px 0;
}
/*#region header*/

.header > .container {
  display: flex;
  
  
  /* justify-content: space-between; */
  align-items: center;
  
}
.header {
  border-bottom: 1px solid #E7E9FC;
}
.navy {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

}
.logo {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
}
.logo-dark {
  color: #2E2F42;
  letter-spacing: 0.03em;
}
.logo-light {
  color: #F4F4FD;
  letter-spacing: 0.03em;
}


.menu {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover,
.menu:focus {
  color: #404bbf;
}
.menu:active {
  
  color: #404bbf;
}
.menu-list {
  display: flex;
  gap: 40px;
  margin-right: 332px;
  margin-left: 76px;
}

.menu-item {
  position: relative;
}
.menu.active::after {
  content: "";
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: #404BBF;
}
.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
  align-items: center;
}

.contacts{
  display: block;
  margin: 0 auto;
  padding: 24px 0;
  color: #434455;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/*#endregion header*/

/*#region hero*/
.hero{
  display: flex;
  background-color: #2e2f42;
  /*padding-top: 188px;
  padding-bottom: 188px;*/
}
.hero-wrapper {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px; 
  background-image: linear-gradient(rgba(46, 47, 66, 0.4), rgba(46, 47, 66, 0.7)),url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
}
.hero-button {
  display: block;
  margin: 0 auto;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;

  box-shadow: 0px 4px 4px 0px #00000026;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus{
  background-color: #404bbf;
}
/*#endregion hero*/

/*#region features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features{
  
}
.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid  #8E8F99;
  border-radius: 4%;
}
.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
.features-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.features-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.features-caption {
  margin-bottom: 8px;
}
.features-item {
  width: 264px;
  /* margin-right: 24px; */
}
/*#endregion features*/

/*#region team*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  /* justify-content: space-between; */
}
.team-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.14), 0px 1px 1px 0px rgba(46, 47, 64, 0.22), 0px 1px 6px 0px rgba(46, 47, 66, 0.14);
}
.team-wrapper {
 padding: 32px 16px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  /* padding-top: 32px;
  padding-bottom: 8px; */
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
  /* padding-bottom: 32px; */
}
.team-socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-socials-link {
  display: flex;
  /*margin: 0 auto;*/
  padding: 12px;
  align-items: center;
  justify-content: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-icon {
  fill: #ffffff;
  align-items: center;
  justify-content: center;
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #31D0AA;
}
/*#endregion team*/

/*#region portfolio*/
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-title {
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
}
.portfolio-thumb{
  position: relative;
  overflow: hidden;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;;
  padding: 40px 32px;
  overflow: hidden;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-wrapper {
  border: 1px solid #E7E9FC;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 }
/*#endregion portfolio*/

/*#region footer*/

footer {
  background-color: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer > .container {
  display: flex;
  flex-grow: 1;
}
.footer-left{
  margin-right: 120px;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-top: 16px;
}
.socials-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.socials-list {
  display: flex;
  gap: 24px;
}

.socials-link {
  display: flex;
  /*margin: 0 auto;*/
  padding: 12px;
  align-items: center;
  justify-content: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: #ffffff;
  align-items: center;
  justify-content: center;
}

.socials-link:hover,
.socials-link:focus {
  background-color: #31D0AA;
}
/*#endregion footer*/
